/* DC.com 핵심공통 css - core.css */

/* Ubuntu체 */
@font-face {
    font-family: 'Ubuntu';
    src: url(../static/fonts/Ubuntu-Regular.woff2) format("woff");
}

/* Ubuntu Condensed체 */
@font-face {
    font-family: 'Ubuntu Condensed';
    src: url(../static/fonts/UbuntuCondensed-Regular.woff2) format("woff");
}

/* 
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif; 
*/
