@charset "utf-8";
/* 아카이브 메인 css - main.css */
/* 구글폰트 */
  @import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Black+Han+Sans&family=Gowun+Batang&family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR:wght@400;500&family=Orbit&family=Song+Myung&family=Sunflower:wght@500&display=swap');


/* 
            웹폰트 font-family 이름
            font-family: 'Bagel Fat One', cursive;
            font-family: 'Black Han Sans', sans-serif;
            font-family: 'Gowun Batang', serif;
            font-family: 'Jua', sans-serif;
            font-family: 'Nanum Gothic', sans-serif;
            font-family: 'Noto Sans KR', sans-serif;
            font-family: 'Orbit', sans-serif;
            font-family: 'Song Myung', serif;
            font-family: 'Sunflower', sans-serif;
            */

/* 초기화 */
html,body,h1,h2,ul,ol{
    margin: 0;
    padding: 0;

}

 /* 리스트 블릿, 숫자 없애기 */
 ul,ol{
    list-style: none;
}

/* 전체 배경이미지 */
body{
    background: url(../imgs/cloud_bg.png) no-repeat fixed center/cover;
    /* 전체 글자체 */
    font-size: 17px;
}

/* 전체박스 */
.wrap{
    background-color: #ffffff7e;
    width: 80%;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
}

/* 메인타이틀 */
.wrap .tit{
    text-align: center;
    font-family: 'Sunflower', sans-serif;
    font-weight: normal;
    font-size: 45px;
    color: #222;
}
.part1{ 
    text-align: center;
}

.part2{
    text-align: center;
}

