@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 외부 공통 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);

/* 공사중 표시 */
body * {
    outline: 1px dashed ghostwhite;
}

/* 전체배경색 */
body {
    background-color: #000;
}

/**************** 1.상단영역 ****************/
.header {
    position: relative;
    /* 부모자격- .gnb */
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;

    /* 상단영역 박스 가장 위! */
    z-index: 999; /* z-index는 포지션이 있을때만 사용가능! 단, z-index남용하면 안됨. */
}
/* 1-1. 로고 */
.tit {
    color: aquamarine;
    font-size: 40px;
    font-family: "Jua", sans-serif;
    text-align: center;
    line-height: 80px;
    /* 글자 글로우 효과 */
    text-shadow: 0 0 4px aquamarine;
    /* 애니메이션 호출 */
    animation: tit-ani 0.5s ease-in infinite alternate;
}

/* 타이틀 애니 키프레임 */
@keyframes tit-ani {
    to {
        text-shadow: 0 0 12px aquamarine;
    }
}
/* 1-2.GNB */
.gnb{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.gnb ul{
    /* 플렉스 박스 */
    display: flex;
    /* 플렉스박스 사이간격 */
    gap: 0 20px;
    font-family: 'Jua';
}
/* 상위메뉴 li */
.gnb ul>li{
    position: relative;
    /* 부모자격- .smenu */
}
/* 상위메뉴 a */
.gnb>ul>li>a{
    display: inline-block;
    /* a는 원래 inline이고 인라인요소는 트랜스폼이 적용 안됨!
    따라서 inline-block으로 변경해야 트랜스폼이 적용됨! 단, 인라인 요소중 이미지는 트랜스폼 적용됨!! */
    font-size: 2rem; /* px로 하면 20px */
    padding-bottom: 10px;
    /* 패딩으로 젠틀앱솔루트인 .smenu를 아랫쪽으로 밀려서 이동되게 함!
    li에 연결상탱 유지! */
    
    /* 트랜지션 */
    transition: .3s;
}
/* 상위메뉴 a 오버시 */
.gnb>ul>li>a:hover{
    color: aquamarine;
    /* 글자확대 */
    transform: scale(1.3);
     /* 글자 글로우 효과 */
     text-shadow: 0 0 4px aquamarine;
     /* 애니메이션  */
    animation: tit-ani 0.5s ease-in infinite alternate;
}

/* gnb 서브메뉴  */
.smenu{
    position: absolute;

    left: 50%;
    /* 가로방향 x축 중앙이동 */
    transform: translateX(-50%); /* tftx */
    width: 140px;
    padding: 3px;
    border-radius: 5px;

    background: url(../images/bg_smenu.png) no-repeat center/cover;
}
/* 서브메뉴 가상요소로 삼각형 만들기 */
.smenu::before{
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 15px;
    background-color: red;
    clip-path: polygon(0 100%,50% 0,100% 100%); /*  polygon써서 삼각형 가상요소 만들어주기 */
}
/* 서브메뉴 a */
.smenu a{
    font-size: 1.6rem; /* 16px 상대단위 */
    /* 줄간격 */
    line-height: 1.7; /* 글자크기에 대한 1.7배 */


}
/**************** 2.메인영역 ****************/
.main {
    position: relative;
    /* 부모자격 */
    
    /* height: 788px; */ 
    background: url(../images/bg.jpg) no-repeat center 0/100%;
    /* 비율박스는 높이값을 주지 않는다! */
    aspect-ratio: 1200/788;
}

/* 2-1. 스크린 */
.screen {
    position: absolute;
    top: 17.3%;
    left: 21.3%;
    width: 58.8%;
    height: 51%;
    /* 비율박스 부모기준 크기값,위치값 % 설정! */
    background-color: #000;
}
/* 아이프레임 */
.screen iframe {
    width: 100%;
    height: 100%;
    border: none; /* bdn */
}

/* 2-2. 포스터 메뉴 */
.poster-menu {
    position: absolute;
    width: 60%;
    /* 비율박스 부모기준 가로크기 % 설정! */
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}

.poster-menu ul {
    /* 플렉스박스 */
    display: flex;
    /* 가로 사이간격 */
    gap: 0 10px;
    /* 원근설정 */
    perspective: 50vh;
}

.poster-menu > ul > li {
    position: relative;
    /* 부모자격 */

    /* 앱솔루트 영화정보 부모자격요소가 숨길 수 있다! */
    overflow: hidden;

    /* 등분할 */
    flex: 1;

    /* x축 회전 */
    transform: rotateX(30deg); /* tfrx */
    /* 회전축 하단으로 변경 */ 
    transform-origin: bottom; /* tfo */
    /* 트랜지션 */
    transition: .3s;
}
/* 포스터 메뉴 각 li에 오버시 + 클래스 on 적용시 */
.poster-menu > ul > li:hover,
.poster-menu > ul > li.on{
    /* 영화포스터 일으켜세우기 */
    transform: rotateX(0);

    /* 일어서는 li가 항상 위! */
    z-index: 1;

    outline: 1px solid aqua;
}

.poster-menu img {
    /* li에 이미지 가로채움! */
    width: 100%;
}

/* 영화정보 박스 */
.mv-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%; /* 아래쪽 바깥에 위치 */
    /* 부모는? -싸고있는 li */
    text-align: center;
    background-color: rgb(0 0 0 / 49%);

    /* 글자셋팅 */
    font-family: "Cute Font", cursive;
    /* 화면크기 조절에 따른 폰트 크기 설정 */
    font-size: min(1.3vw,14px);

    /* 줄바꿈방지 */
    white-space: nowrap;

    /* 트랜지션 */
    transition: top 0.3s ease-in-out;
}
/* 영화정보박스 제목만 변경 */
.mv-info li:first-child  {
    font-size: min(1.5vw,17px);
    color: aqua;
}

/* 상위 li에 오버시 영화정보박스 보이기 */
.poster-menu > ul > li:hover .mv-info {
    top: 0;
}

.mv-info ol {
    display: flex;
    gap: 7% 0;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

/**************** 3.하단영역 ****************/
.footer {
    height: 100px;
}
